<div class="card d-flex flex-row" id="<%= dom_id restaurant %>">
  <%# <img src="app/assets/images/restaurant-image.jpg" class="card-img-left" alt="Restaurant Image"> %>
  <%= image_tag("restaurant-image.jpg", class: "card-img-left rounded") %>
  <div class="card-body">
    <h5 class="card-title"><%= restaurant.name %></h5>
    <p class="card-text">Category: <%= restaurant.category %></p>
    <p class="card-text">Address: <%= restaurant.address %></p>
    <p class="card-text">Phone: <%= restaurant.phone_number %></p>
    <%= link_to 'See details', restaurant, class: "btn btn-primary" %>
  </div>
</div>
