<header class="hero-banner">
  <!-- Add your hero banner content here -->
  <div class="">
    <h1><%= @restaurant.name %></h1><h2>/<%= @restaurant.category.capitalize %></h2>
  </div>
  <div class="profile-subheader rounded">
  <p><%= raw "<i class=\"fa-solid fa-star\"></i>" * @average %> <%= @reviews.size %> reviews</p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  </div>
</header>

<div class="review-card-container">
  <div class="review-menu">
    <%= link_to '+ New review', new_restaurant_review_path(@restaurant.id), class: "btn btn-light" %>
  </div>
  <div class="reviews">
    <div class="row">
      <% @reviews.each do |review| %>
        <%= render "review", review: review %>
      <% end %>

    </div>
  </div>
</div>
